@import '../../../styles/variables';
@import '../../../styles/mixins';

.payment-success {
    @include devices(tablet) {
        margin-top: 54px;
        padding: 0 12px;
    }

    .payment-success-content {
        padding: 20px;
        background-color: #f6f6f7;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: calc(100vh - 242px);

        @include devices(tablet) {
            padding: 64px 20px 32px 20px;
            height: 100%;
            min-height: unset;
        }

        & > img {
            height: 68px;
            width: 68px;
            padding-bottom: 20px;

            @include devices(tablet) {
                width: 108px;
                height: 108px;
                padding-bottom: 36px;
            }
        }

        & > h1 {
            font-size: 23px;
            margin: 0;
            padding-bottom: 12px;

            @include devices(tablet) {
                font-size: 18px;
            }
        }

        & > p {
            font-size: 15px;
            padding-bottom: 32px;
        }

        & > button {
            width: 242px;
            margin-bottom: 10px;

            @include devices(tablet) {
                width: 216px;
            }
        }

        & > a {
            font-size: 15px;
            color: #000000;
            text-decoration: underline;

            @include devices(tablet) {
                font-size: 13px;
            }
        }

        .method-wrapper {
            position: absolute;
            bottom: 8px;
            right: 12px;
            text-align: right;

            @include devices(tablet) {
                display: none;
            }

            & > p {
                font-size: 14px;
                color: #656565;
                padding-bottom: 4px;
            }

            & > img {
                height: 34px;
            }
        }
    }

    .support-link {
        font-size: 14px;
        padding-top: 14px;
        color: #707070;

        @include devices(tablet) {
            background-color: #ffffff;
            padding: 8px;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

        span {
            color: $primaryColor;
            text-decoration: underline;
        }
    }
}
