@import '../../../styles/variables';
@import '../../../styles/mixins';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 69px;
    padding: 0 108px;
    box-shadow: 0 3px 6px 0 $boxShadowColor;
    background-color: #f6f6f7;

    @include devices(display) {
        padding: 0 46px;
    }

    @include devices(desktop) {
        padding: 0 24px;
    }

    @include devices(tablet) {
        padding: 0 18px;
        justify-content: center;
    }

    .toggle-menu {
        display: none;
        transform: scale(0.9);

        @include devices(tablet) {
            display: block;
            position: absolute;
            left: 24px;
            top: 18px;
        }
    }

    .navbar-main {
        display: flex;
        align-items: center;
        position: relative;

        a {
            color: #303030;
        }

        .menubar {
            .logo {
                display: flex;
                align-items: center;
                height: 69px;

                img {
                    height: 28px;
                    margin: 0 18px;

                    @include devices(tablet) {
                        margin: 0;
                    }
                }
            }
        }

        .navbar-menu {
            display: flex;
            white-space: nowrap;

            @include devices(tablet) {
                display: none;
            }
        }
    }
}

.navbar-mobile {
    display: none;

    @include devices(tablet) {
        display: block;
        position: fixed;
        height: calc(100vh - 111px);
        width: 300px;
        background-color: white;
        box-shadow: 0 3px 6px 0 $boxShadowColor;
    }

    .navbar-menu-wrapper {
        height: calc(100vh - 294px);
        overflow-x: hidden;
        overflow-y: auto;

        .navbar-mobile-menu {
            font-size: 14px;

            a {
                color: #000000;
            }
        }
    }

    .navbar-mobile-buttons {
        .auth-buttons-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            margin-top: 8px;

            button {
                width: 234px;
                height: 45px;
            }
        }

        .lang-switch {
            height: 45px;
            margin-top: 32px;
            background-color: $primaryColor;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            .header-language-active {
                font-weight: bold;
            }
        }
    }
}
