@import '../../../styles/variables';

.button {
    height: 45px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.button-primary {
    background-color: $primaryColor;
    color: white;
    box-shadow: 0 3px 6px 0 $boxShadowColor;
}

.button-outline {
    background-color: white;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    box-shadow: 0 3px 6px 0 $boxShadowColor;
}

.button-light {
    background-color: white;
    color: #303030;
}

.button-gray {
    background-color: #42474d;
    color: white;
    box-shadow: 0 3px 6px 0 $boxShadowColor;
}
