@import '../../../styles/variables';
@import '../../../styles/mixins';

.individual-login {
    min-height: calc(100vh - 111px);

    .main-section {
        display: flex;
        justify-content: center;
        gap: 60px;
        padding: 90px 20px 0 20px;

        @include devices(desktop) {
            gap: 30px;
        }

        @include devices(tablet) {
            display: block;
            padding: 36px 20px 20px 20px;
        }

        .left-section {
            width: 540px;
            padding: 42px 36px 40px 36px;
            text-align: center;
            background-color: #f6f6f7;
            margin-left: 160px;
            box-sizing: border-box;

            @include devices(display) {
                margin: 0;
            }

            @include devices(tablet) {
                width: 100%;
                padding: 24px 20px 20px 20px;
                margin-bottom: 60px;
            }

            & > h1 {
                font-size: 31px;
                margin: 0;
                color: $primaryColor;
                padding-bottom: 12px;

                @include devices(tablet) {
                    font-size: 20px;
                }
            }

            & > p {
                font-size: 16px;
                padding-bottom: 28px;

                @include devices(tablet) {
                    font-size: 14px;
                }
            }

            form {
                input {
                    width: 100%;
                    margin-bottom: 12px;
                }

                .sub-links-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .remember-check {
                        margin-top: 4px;
                        display: flex;

                        & > span {
                            font-size: 14px;
                            margin-left: 20px;

                            @include devices(tablet) {
                                font-size: 13px;
                            }
                        }
                    }

                    & > a {
                        font-size: 14px;
                        text-decoration: underline;
                        color: #000000;

                        @include devices(tablet) {
                            font-size: 13px;
                        }
                    }
                }

                button {
                    width: 198px;
                    margin-top: 140px;

                    @include devices(tablet) {
                        margin-top: 40px;
                    }
                }
            }
        }

        .right-section {
            width: 810px;
            position: relative;
            box-sizing: border-box;

            @include devices(display) {
                // width: unset;
            }

            @include devices(tablet) {
                width: 100%;
            }

            .back-image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url('../../../assets/images/bg/individual.png');
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 999;

                @include devices(tablet) {
                    height: 60vw;
                    position: relative;
                    background-position: center;
                    background-size: contain;
                }
            }

            .back-image-overlay {
                display: none;

                @include devices(tablet) {
                    display: block;
                    background-color: #f6f6f7;
                    width: 100%;
                    height: calc(60vw * 76 / 100);
                    margin-top: calc(60vw * 24 / 100);
                    position: absolute;
                    top: 0;
                }
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                top: 0;
                left: 0;
                box-sizing: border-box;
                padding: 60px 54px 0 0;

                @include devices(tablet) {
                    position: unset;
                    padding: 0;
                }

                .title-wrapper {
                    padding: 40px 52px;
                    box-sizing: border-box;
                    background-color: #f6f6f7;
                    width: 100%;
                    height: 100%;

                    @include devices(tablet) {
                        text-align: center;
                        padding: 20px;
                    }

                    h1 {
                        margin: 0;
                        font-size: 28px;
                        margin-bottom: 20px;
                        color: #707070;

                        span {
                            color: $primaryColor;
                        }

                        @include devices(tablet) {
                            font-size: 21px;
                            color: $primaryColor;
                        }
                    }

                    p {
                        font-size: 16px;
                        margin-bottom: 24px;

                        @include devices(tablet) {
                            font-size: 14px;
                        }
                    }

                    .link-wrapper {
                        display: flex;
                        flex-direction: column;

                        @include devices(tablet) {
                            align-items: center;
                        }

                        button {
                            width: 210px;
                            margin-bottom: 16px;
                        }

                        a {
                            display: flex;
                            font-size: 14px;
                            text-decoration: underline;
                            align-items: center;
                            color: #000000;
                            margin-left: 54px;

                            @include devices(tablet) {
                                font-size: 13px;
                                margin: 0;
                            }

                            svg {
                                margin-left: 16px;

                                @include devices(tablet) {
                                    transform: scale(0.8);
                                }

                                path {
                                    stroke: #000000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
