@import '../../../styles/variables';
@import '../../../styles/mixins';

.not-found {
    box-sizing: border-box;

    & > h3 {
        text-align: center;
        margin: 0;
        padding-top: 64px;
    }
}
