@import '../../../styles/variables';
@import '../../../styles/mixins';

.support-us {
    padding-left: 160px;
    display: flex;
    background-color: #f6f6f7;

    @include devices(desktop) {
        padding: 0;
    }

    @include devices(tablet) {
        background-color: #ffffff;
    }

    .left-section {
        flex: 1;
        height: 100%;
        width: 50%;
        min-height: max(768px, calc(100vh - 111px));

        @include devices(tablet) {
            width: 100%;
        }

        .form-wrapper {
            margin: 69px 80px 0 80px;

            @include devices(desktop) {
                margin: 69px 40px 0 40px;
            }

            @include devices(tablet) {
                padding: 0 20px;
                margin: 40px 0 0 0;
                text-align: center;
            }

            & > h1 {
                font-size: 31px;
                margin: 0;
                color: $primaryColor;
                padding-bottom: 20px;

                @include devices(tablet) {
                    font-size: 20px;
                }
            }

            & > p {
                font-size: 16px;
                padding-bottom: 40px;

                @include devices(tablet) {
                    font-size: 14px;
                }
            }

            .donate-button {
                width: 405px;
                margin-bottom: 60px;

                @include devices(tablet) {
                    width: 324px;
                    margin-bottom: 40px;
                }
            }

            h2 {
                margin: 0;
                color: $primaryColor;
                font-size: 23px;
                margin-bottom: 20px;

                @include devices(tablet) {
                    font-size: 20px;
                }
            }

            .group-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @include devices(tablet) {
                    align-items: center;
                }

                .white-board {
                    order: 1;
                    display: inline-flex;
                    align-items: center;
                    background-color: #ffffff;
                    padding: 18px 24px 18px 16px;
                    margin-bottom: 24px;

                    @include devices(tablet) {
                        padding: 0;
                        order: 2;
                    }

                    img {
                        width: 76px;
                        height: 76px;
                        margin-right: 18px;

                        @include devices(tablet) {
                            width: 64px;
                            height: 64px;
                        }
                    }

                    & > div {
                        text-align: left;

                        h3 {
                            color: $primaryColor;
                            font-size: 18px;
                            font-weight: 100;
                            margin: 0;
                            padding-bottom: 4px;

                            @include devices(tablet) {
                                font-size: 16px;
                            }
                        }

                        a {
                            font-size: 14px;
                            color: #0042f8;
                            text-decoration: underline;

                            @include devices(tablet) {
                                font-size: 13px;
                            }
                        }
                    }
                }

                & > button {
                    &:last-child {
                        order: 2;
                        width: 335px;

                        @include devices(tablet) {
                            width: 288px;
                            order: 1;
                            margin-bottom: 68px;
                        }
                    }
                }
            }
        }
    }

    .right-section {
        flex: 1;
        width: 50%;
        height: max(768px, calc(100vh - 111px));
        background-image: url('../../../assets/images/bg/support-us.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include devices(tablet) {
            display: none;
        }
    }
}
