@import '../../../styles/variables';
@import '../../../styles/mixins';

.business-signup {
    display: flex;
    justify-content: center;
    height: max(768px, calc(100vh - 111px));
    background-color: #f6f6f7;

    .form-wrapper {
        width: 420px;
        text-align: center;
        margin-top: 69px;
        padding: 0 20px;

        @include devices(tablet) {
            margin-top: 40px;
        }

        & > h1 {
            font-size: 31px;
            margin: 0;
            color: $primaryColor;
            padding-bottom: 20px;

            @include devices(tablet) {
                font-size: 20px;
            }
        }

        & > p {
            font-size: 16px;
            padding-bottom: 20px;

            @include devices(tablet) {
                font-size: 14px;
            }
        }

        .social-buttons {
            button {
                width: 100%;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        form {
            margin-bottom: 20px;

            .input-wrapper {
                margin-bottom: 12px;

                input {
                    width: 100%;
                    margin-bottom: 12px;
                }
            }

            button {
                width: 338px;

                @include devices(tablet) {
                    width: 288px;
                    margin-top: max(0px, calc(100vh - 740px));
                }
            }
        }

        .link-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            margin-bottom: 20px;

            & > P {
                font-size: 14px;
            }

            & > a {
                font-size: 14px;
                text-decoration: underline;
                color: $primaryColor;
            }
        }

        .policy {
            color: #707070;
            font-size: 12px;
            letter-spacing: -0.5px;

            span {
                text-decoration: underline;
            }
        }
    }
}
