@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    padding: 0;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #ababab;
    cursor: pointer;
}

::-webkit-scrollbar-track:hover {
    background-color: #f0f0f0;
}
