@import '../../../styles/variables';
@import '../../../styles/mixins';

.billing-method {
    width: 380px;
    padding: 30px 20px;
    box-sizing: border-box;

    @include devices(desktop) {
        width: 320px;
    }

    @include devices(tablet) {
        width: 100%;
    }

    & > h2 {
        font-size: 19px;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    & > p {
        font-size: 14px;
        text-align: center;
        text-decoration: underline;
        padding: 0;
        margin-top: 72px;

        @include devices(tablet) {
            margin-top: 30px;
        }
    }
}
