@import '../../../styles/variables';
@import '../../../styles/mixins';

.date-picker {
    position: relative;

    input {
        font-size: 15px;
        border: none;
        outline: none;
        padding: 14px 30px 14px 24px;
        background-color: #ffffff;
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
        box-sizing: border-box;
        width: 100%;

        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    @include devices(tablet) {
        font-size: 14px !important;
    }

    span {
        display: flex;
        position: absolute;
        top: 14px;
        right: 10px;
    }
}
