@import '../../../styles/variables';
@import '../../../styles/mixins';

.patient-detail {
    box-sizing: border-box;

    @include devices(tablet) {
        padding: 10px 10px 76px 10px;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-wrapper {
            margin-top: 16px;
            margin-bottom: 20px;

            @include devices(tablet) {
                margin-top: 0;
                padding: 0 12px;
            }

            & > h1 {
                margin: 0;
                font-size: 22px;
                display: flex;
                align-items: center;

                @include devices(tablet) {
                    font-size: 16px;
                    color: $primaryColor;
                }

                & > span {
                    display: none;
                    margin-right: 10px;

                    @include devices(tablet) {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .main-content {
        display: flex;
        gap: 20px;

        @include devices(tablet) {
            flex-direction: column;
        }

        .card {
            padding: 24px 28px;

            @include devices(tablet) {
                padding: 24px 16px;
            }

            .card-title {
                margin-bottom: 24px;
                font-size: 16px;
                color: $primaryColor;
                display: flex;
                align-items: center;

                @include devices(tablet) {
                    justify-content: center !important;
                }

                span {
                    display: flex;
                    align-items: center;
                    margin-right: 16px;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                }
            }

            .card-body {
                .grid-card-row {
                    display: flex;
                    margin-bottom: 20px;
                    gap: 10px;

                    &:first-child {
                        margin-bottom: 38px;
                    }

                    &:last-child {
                        @include devices(tablet) {
                            margin-bottom: 0;
                        }
                    }

                    .grid-row-col {
                        flex-basis: 50%;
                    }
                }
            }
        }

        .left-section {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .patient-card {
                .card-title {
                    & > span {
                        svg {
                            transform: scale(1.4);

                            path {
                                fill: $primaryColor;
                            }
                        }
                    }
                }

                .card-body {
                    .patient-name-id-address {
                        display: flex;
                        margin-bottom: 24px;
                        align-items: center;

                        .patient-name-id {
                            flex-basis: 40%;

                            @include devices(tablet) {
                                flex-basis: 100%;
                            }

                            & > p {
                                &:nth-child(1) {
                                    margin-bottom: 24px;

                                    @include devices(tablet) {
                                        margin-bottom: 16px;
                                    }
                                }

                                &:nth-child(2) {
                                    margin-bottom: 10px;
                                }

                                &:nth-child(3) {
                                    margin-bottom: 0;

                                    & > span {
                                        color: #0033ff;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                        .patient-address {
                            flex-basis: 60%;

                            @include devices(tablet) {
                                display: none;
                            }
                        }
                    }

                    .patient-number-address {
                        display: flex;
                        margin-bottom: 20px;
                        gap: 10px;

                        @include devices(tablet) {
                            margin-bottom: 8px;
                            justify-content: space-between;
                        }

                        .patient-number {
                            flex-basis: 40%;
                        }

                        .patient-address {
                            flex-basis: 60%;
                        }
                    }
                }
            }

            .table-card {
                flex: 1;
                display: flex;
                flex-direction: column;

                .card-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left-title {
                        display: flex;
                        align-items: center;
                    }

                    .right-title {
                        display: flex;
                        align-items: center;

                        @include devices(tablet) {
                            display: none;
                        }

                        & > p {
                            font-size: 12px;
                            color: $primaryColor;
                        }

                        & > div {
                            display: flex;
                            align-items: center;
                            margin-left: 10px;

                            svg {
                                transform: scale(0.9);

                                path {
                                    stroke: $primaryColor;
                                }
                            }
                        }
                    }
                }

                .card-body {
                    flex: 1 auto;
                    height: 100px;

                    @include devices(tablet) {
                        min-height: 600px;
                    }

                    .table-wrapper {
                        height: 100%;
                        overflow: auto;

                        tbody {
                            .patient-date {
                                & > p {
                                    &:first-child {
                                        margin-bottom: 8px;
                                    }
                                }
                            }

                            .patient-test {
                                font-size: 14px;
                                text-decoration: underline;
                                color: #0033ff;
                            }

                            .patient-action {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                & > span {
                                    display: flex;
                                    align-items: center;

                                    svg {
                                        transform: scale(0.9);
                                    }
                                }

                                .vertical-divider {
                                    margin: 0 10px;
                                    border-left: 1px solid #b7b7b7;
                                    height: 24px;
                                }
                            }
                        }

                        .mobile-table-section {
                            .patient-detail-table-mobile-card {
                                background-color: #ffffff;
                                padding: 28px 12px 20px 12px;
                                position: relative;
                                margin-bottom: 10px;

                                .first-section {
                                    display: flex;
                                    margin-bottom: 20px;

                                    .patient-id {
                                        flex-basis: 40%;
                                    }

                                    .patient-test {
                                        flex-basis: 30%;

                                        & > p {
                                            &:last-child {
                                                color: #0033ff;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }

                                .second-section {
                                    display: flex;
                                    flex-direction: column;

                                    & > p {
                                        &:nth-child(2) {
                                            margin-bottom: 8px;
                                        }

                                        &:nth-child(3) {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                .table-text-second {
                                    margin-bottom: 12px;
                                }

                                .remove {
                                    position: absolute;
                                    font-size: 12px;
                                    color: red;
                                    top: 4px;
                                    right: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right-section {
            flex-basis: 50%;

            .card {
                .card-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include devices(tablet) {
                        display: none;
                    }

                    & > h1 {
                        font-size: 21px;
                    }

                    & > span {
                        color: #0033ff;
                        text-decoration: underline;
                    }
                }

                .card-body {
                    background-color: #ffffff;

                    .scroll-wrapper {
                        height: calc(100vh - 406px);
                        overflow: auto;

                        @include devices(tablet) {
                            height: auto;
                        }
                    }

                    .button-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        padding: 12px 0;

                        & > button {
                            width: 190px;

                            @include devices(tablet) {
                                width: 216px;
                            }
                        }

                        @include devices(tablet) {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    .title-text {
        font-size: 14px;
        line-height: 14px;
        color: #7a7a7a;
        margin-bottom: 18px;

        @include devices(tablet) {
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 14px;
        }
    }

    .value-text {
        font-size: 15px;
        line-height: 16px;
        color: #4d4d4d;
        word-break: break-all;

        @include devices(tablet) {
            font-size: 14px;
            line-height: 14px;
        }
    }
}
