@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    background-color: $primaryColor;
    color: #ffffff;
    padding: 0 108px;

    @include devices(desktop) {
        padding: 0 36px;
    }

    @include devices(tablet) {
        padding: 0 18px;
    }

    .header-left {
        display: flex;

        .header-left-title1 {
            margin-right: 28px;

            @include devices(tablet) {
                display: none;
            }
        }

        .social-btn-wrapper {
            display: flex;
            align-items: center;
            gap: 28px;

            @include devices(tablet) {
                gap: 14px;
            }
        }

        .social-btn-wrapper a {
            display: flex;
        }

        .social-btn-wrapper a svg {
            height: 18px;
            width: 18px;
        }
    }

    .header-right {
        display: flex;

        .header-right-title1 {
            margin-right: 32px;

            @include devices(desktop) {
                margin-right: 14px;
            }

            @include devices(mobile) {
                display: none;
            }
        }

        .header-right-phone-wrapper {
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
            }

            .header-right-phone-number {
                text-decoration: underline;
                letter-spacing: 1px;
            }
        }

        .header-language-switch {
            margin-left: 106px;

            @include devices(desktop) {
                margin-left: 28px;
            }

            @include devices(tablet) {
                display: none;
            }

            .header-language-active {
                font-weight: bold;
            }
        }
    }
}
