@import '../../styles/variables';
@import '../../styles/mixins';

#root {
    & > header {
        position: fixed;
        width: 100%;
        z-index: 9999;
        top: 0;
    }

    & > main {
        display: flex;
        min-height: calc(100vh - 111px);
        gap: 12px;
        margin-left: 240px;
        margin-right: 146px;
        margin-top: 111px;
        padding-top: 32px;
        padding-bottom: 20px;
        position: relative;

        @include devices(display) {
            margin-left: 120px;
            margin-right: 120px;
        }

        @include devices(desktop) {
            margin-left: 60px;
            margin-right: 60px;
        }

        @include devices(tablet) {
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 24px;
            padding-bottom: 20px;
            gap: 0;
        }

        & > .main-content {
            height: 100px;
            flex: 1;
            background-color: aquamarine;
        }
    }
}
