@import '../../styles/mixins';

header[data-layout='individual'] {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

main[data-layout='individual'] {
    display: flex;
    min-height: calc(100vh - 111px);
    margin-top: 111px;
    position: relative;

    & > .main-content {
        flex: 1;
        box-sizing: border-box;
        padding: 24px 32px;
        height: calc(100vh - 111px);
        overflow: auto;

        @include devices(tablet) {
            padding: 20px 0 0 0;
        }
    }
}
