@import '../../../styles/variables';
@import '../../../styles/mixins';

.eye-test {
    display: flex;
    flex-direction: column;
    align-items: center;

    .component-wrapper {
        margin-top: 48px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
