@import '../../../styles/variables';
@import '../../../styles/mixins';

.table-wrapper {
    table {
        width: 100%;
        border-spacing: 0 !important;

        @include devices(tablet) {
            display: none;
        }

        thead {
            position: sticky;
            top: 0;
            z-index: 999;

            &::after {
                content: '-';
                display: block;
                line-height: 16px;
                color: transparent;
            }

            tr {
                th {
                    background-color: #ebebeb;
                    color: #868686;
                    padding: 8px;
                    font-size: 14px;
                    text-transform: uppercase;

                    p {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 100;

                        & > span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 10px;

                            svg {
                                transform: scale(0.9);
                            }
                        }
                    }

                    &.center-head {
                        & > p {
                            justify-content: center;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    background-color: #ffffff;
                    border-bottom: 6px solid #f6f6f6;
                    padding: 10px 8px;
                    font-size: 15px;
                    color: #4d4d4d;

                    &.center-item {
                        text-align: center;
                    }
                }

                .checkbox-td {
                    text-align: left;
                    padding-left: 16px;
                }
            }
        }
    }

    .mobile-table-section {
        display: none;

        @include devices(tablet) {
            display: block;
        }
    }
}
