@import '../../../styles/variables';
@import '../../../styles/mixins';

footer {
    .link-section {
        background-color: #f6f6f7;
        padding: 48px 0 24px 0;

        & > ul {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(162px, 162px));
            grid-gap: 9px;
            text-align: center;

            @include devices(mobile) {
                grid-template-columns: none;
                gap: 16px;
            }

            .link-group {
                max-width: 180px;

                .link-group-title {
                    color: $primaryColor;
                    font-size: 22px;
                    padding-bottom: 16px;

                    @include devices(tablet) {
                        font-size: 18px;
                    }
                }

                .link-item {
                    padding-bottom: 16px;

                    a {
                        font-size: 14px;
                        color: #5f5f60;

                        @include devices(tablet) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .subscribe-section {
        display: flex;
        justify-content: space-between;
        padding: 40px 234px 28px 234px;
        gap: 22px;

        @include devices(large) {
            padding: 40px 144px 28px 144px;
        }

        @include devices(desktop) {
            padding: 40px 90px 28px 90px;
        }

        @include devices(tablet) {
            padding: 40px 18px 28px 18px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }

        .logo-section {
            max-width: 630px;

            @include devices(large) {
                max-width: 480px;
            }

            @include devices(tablet) {
                text-align: center;
            }

            img {
                height: 28px;
                margin: 14px 10px;
            }

            p {
                font-size: 13px;
                margin-bottom: 36px;
            }

            .phone-number {
                display: flex;
                align-items: center;

                svg path {
                    fill: $primaryColor;
                }

                span {
                    font-size: 16px;
                    text-decoration: underline;
                    margin-left: 14px;
                }

                @include devices(desktop) {
                    margin-bottom: 10px;
                }

                @include devices(tablet) {
                    justify-content: center;
                    margin-bottom: 14px;
                }
            }

            .social-button-wrapper {
                display: flex;
                gap: 28px;
                justify-content: flex-end;
                margin-right: 152px;

                @include devices(desktop) {
                    margin-right: 36px;
                }

                @include devices(tablet) {
                    justify-content: center;
                    margin-right: 0;
                    gap: 42px;
                }

                a svg path {
                    fill: $primaryColor;
                }
            }
        }

        .subscribe-detail {
            max-width: 512px;

            @include devices(large) {
                max-width: 414px;
            }

            @include devices(tablet) {
                text-align: center;
            }

            h1 {
                font-size: 25px;
                font-weight: 100;
                color: $primaryColor;

                @include devices(tablet) {
                    font-size: 20px;
                }
            }

            p {
                font-size: 14px;
                color: #4d4d4d;
                margin-bottom: 25px;
            }

            .email-input-section {
                display: flex;

                input {
                    flex: 1;

                    @include devices(tablet) {
                        width: 100%;
                        font-size: 14px;
                        padding: 11px 18px;
                    }
                }

                button {
                    width: 148px;
                    height: 54px;

                    @include devices(tablet) {
                        font-size: 14px;
                        width: 135px;
                        height: 45px;
                    }
                }
            }
        }
    }

    .copyright-section {
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: $primaryColor;
        text-align: center;
        color: white;

        @include devices(tablet) {
            font-size: 12px;
        }
    }
}
