@import '../../../styles/variables';
@import '../../../styles/mixins';

.donate {
    display: flex;
    justify-content: center;
    min-height: max(768px, calc(100vh - 111px));

    @include devices(tablet) {
        min-height: calc(100vh - 111px);
    }

    .main-section {
        width: 662px;
        text-align: center;
        margin-top: 69px;
        padding: 0 20px;

        @include devices(tablet) {
            margin-top: 36px;
        }

        & > h1 {
            font-size: 27px;
            font-weight: 100;
            margin: 0;
            color: $primaryColor;
            padding-bottom: 20px;

            @include devices(tablet) {
                font-size: 20px;
            }
        }

        & > p {
            font-size: 16px;
            padding: 0 20px 20px 20px;

            @include devices(tablet) {
                font-size: 14px;
                padding: 0 0 20px 0;
            }
        }

        .payment-wrapper {
            background-color: #f6f6f7;
            display: flex;
            flex-direction: column;

            @include devices(tablet) {
                background-color: white;
            }

            .payment-main {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 36px 20px 28px 20px;

                @include devices(tablet) {
                    background-color: #f6f6f7;
                }

                & > p {
                    font-size: 19px;
                    margin-bottom: 20px;

                    @include devices(tablet) {
                        font-size: 16px;
                    }
                }
            }

            .link-wrapper {
                & > button {
                    width: 264px;
                    margin-bottom: 20px;

                    @include devices(tablet) {
                        width: 216px;
                        margin-top: max(28px, calc(100vh - 768px));
                    }
                }

                & > a {
                    font-size: 14px;
                    color: #000000;
                    text-decoration: underline;
                    display: block;
                    margin-bottom: 24px;

                    @include devices(tablet) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
